h1 {
    color: #fff;
    background: #fd7e00;
    font-size: 300%;
    font-weight: normal;
    text-align: center;
    padding: 10px 0px;
    margin: 0;

}


.htagu {
    display: inline;
}

.gazou {
    size: 70px;
    margin: auto;
    display: block;
    width: 1100px;
    height: 700px;
    object-fit: cover;
}

.pi {
    size: 10px;
    margin: auto;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.ct {
    display: grid;

}

.kei {
    width: 50%;
    height: 100%;
  }
  
  .container {
      display: grid;
      grid-template-columns: 0.5fr 0.5fr 0.5fr;
      grid-template-rows: 250px 250px;
      gap: 100px;
  }
  
  .grid-item {
      background-color: #ffac59;
      text-align: center;
  }
 
.inner-block {
  position: relative;
  width: calc(100% - 60px);
  margin: 0 auto;
  max-width: 1000px;
}
 
